* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
   
}

html {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg,rgb(255, 255, 255) 200px, #6aff00, #16fffb);
}

.img-log {
    width: 568px;
    height: 500px;
    opacity: 1;
    display: inline-block;
}

header {
     margin: 44px 0px 144px 76px; 
}

.link-header {
    width: 79px;
    height: 29px;
    margin: 23px;
    opacity: 1;
    font-weight: 600;
    font-size: 24px;
    text-align: left;
    line-height: 100%;
    color: #989D9C;
    cursor: pointer;
}

.link-header:hover {
    color: #000000;
}

.button-header:hover {
    color: #000000;
}

.button-header {
    opacity: 1;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 130px;
    height: 41px;
    opacity: 1;
    border-radius: 20.5px;
    background: #665AE1;
    cursor:pointer ;
    color: blanchedalmond;
}

.container-left {
    margin: 0px 85px 0px 85px;
    display: inline-block;
     
}

.container-right {
    display: inline-block;
    margin: 0px 85px 0px 85px;
    
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #515151;
}

h2 {
    color: #515151;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 58px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 10px;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;  
    margin-left: 10px;  
}

.button-main {
    width: 239px;
    height: 64px;
    opacity: 1;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    border: none;
    opacity: 1;
    width: 239px;
    height: 64px;
    border-radius: 20.5px;
    background: #ffffff;
    color: black;
    cursor: pointer;
    box-shadow: 0px 8px 3px 0px #00000040;
    margin-left: 10px;
    margin-bottom: 30px;
   
}
